DATABASE_URL=postgresql://user:password@localhost:5432/deji
JWT_SECRET=your_secret
REDIS_URL=redis://localhost:6379
PORT=5000
BASE_URL=https://dejiapi.online
WHATSAPP_API_URL=
WHATSAPP_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
OPENAI_API_KEY=
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=
